<div class="ocb-text-center">
    <div ng-show="showPagination" class="btn-group ocb-margin-b-5 ocb-pagnation-tree-position btn-group-xs">

        <button ng-show="firstPages" type="button"
                class="btn btn-default btn-xs ocb-pagnation-text-color ocb-border-darkgray"
                ng-click="goToFirstPage()"><<
        </button>
        <button ng-show="previousPage" type="button"
                class="btn btn-default btn-xs ocb-pagnation-text-color ocb-border-darkgray"
                ng-click="goPreviousPage()"><
        </button>
        <button type="button"
                class="btn btn-default btn-xs ocb-pagnation-text-color ocb-border-darkgray"
                ng-class="{'disabled': disableFirstNumber}"
                ng-click="goToNumberPage(paginationNumbers[0])">{{paginationNumbers[0]}}
        </button>
        <button type="button"
                class="btn btn-default btn-xs ocb-pagnation-text-color ocb-border-darkgray"
                ng-class="{'disabled': disableSecondNumber}"
                ng-click="goToNumberPage(paginationNumbers[1])">{{paginationNumbers[1]}}
        </button>
        <button ng-show="thirdNumber" type="button"
                class="btn btn-default btn-xs ocb-pagnation-text-color ocb-border-darkgray"
                ng-class="{'disabled': disableThirdNumber}"
                ng-click="goToNumberPage(paginationNumbers[2])"
                >{{paginationNumbers[2]}}
        </button>
        <button ng-show="nextPage" type="button"
                class="btn btn-default btn-xs ocb-pagnation-text-color ocb-border-darkgray"
                ng-click="goNextPage()">>
        </button>
        <button ng-show="lastPages" type="button"
                class="btn btn-default btn-xs ocb-pagnation-text-color ocb-border-darkgray"
                ng-click="goToLastPage()">>>
        </button>
    </div>
</div>