<div>
    <!--
        Header section with a mini tool bar with 3 buttons: Reload, Clear and Results
    -->
  <div class="panel-group" id="accordion">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h6><strong>Filters</strong></h6>
        </div>
        <div class="panel-body">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs" ng-click="reload()" >
                        Reload
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="clearResults()">
                        Clear
                    </button>
                </div>
                <div class="btn-group">
                    <a type="button" class="btn btn-default btn-xs" ng-click="newResult()" >
                        Results
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="panel panel-primary">-->
    <!--<div class="panel-heading">-->
    <!--<div data-toggle="collapse" data-parent="#accordion" href="#collapseChrom" style="cursor: pointer">-->
    <!--Chromosomes-->
    <!--</div>-->
    <!--</div>-->
    <!--<div id="collapseChrom" class="panel-collapse collapse in">-->
    <!--<div class="panel-body">-->
    <!--<div id="genesChromMultiSelect">-->
    <!--<witched-chrom ids="typeOfData" chrom-names="chromNames" on-click="addChrom" my-class="ocb-chrom-buttons"></witched-chrom>-->
    <!--</div>-->

    <!--<div class="btn-toolbar" role="toolbar">-->
    <!--<button type="button" class="btn btn-default btn-xs" ng-click="selectAllChrom()" >-->
    <!--Select all-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-default btn-xs" ng-click="deselectAllChrom()">-->
    <!--Deselect all-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseRegion" style="cursor: pointer">
                Region
            </div>
        </div>
        <div id="collapseRegion" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="genesChromMultiSelect">
                    <witched-chrom ids="typeOfData" chrom-names="chromNames" on-click="addChrom" my-class="ocb-chrom-buttons"></witched-chrom>
                </div>

                <div class="btn-toolbar" role="toolbar">
                    <button type="button" class="btn btn-default btn-xs" ng-click="selectAllChrom()" >
                        Select all
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="deselectAllChrom()">
                        Deselect all
                    </button>
                </div>

                <p class="text-muted"><b>chom:start-end</b></p>
                <textarea type="text" ng-model="regions" rows="4" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseGene" style="cursor: pointer">
                Gene Id/Name
            </div>
        </div>
        <div id="collapseGene" class="panel-collapse collapse">
            <div class="panel-body">
                <p class="text-muted"><b>Ex: gene1,gene2,...</b></p>
                <textarea type="text" ng-model="genesIdFilter" rows="4" class="form-control ocb-filter-textarea"></textarea>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseBiotype" style="cursor: pointer">
                Biotype
            </div>
        </div>
        <div id="collapseBiotype" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <div id="BiotypesMultiSelect" style="overflow: scroll;height: 222px">
                        <!--<div ng-repeat="biotype in listOfbiotypeFilters">-->
                        <button id="{{biotype}}"  ng-repeat="biotype in listOfbiotypeFilters"
                                ng-click="addBiotypeFilter(biotype)" type="button"
                                class="btn btn-default btn-sm ocb-filter-width">{{biotype}}
                        </button>
                        <!--</div>-->
                    </div>
                </div>

                <div class="btn-toolbar" role="toolbar">
                    <button type="button" class="btn btn-default btn-xs" ng-click="selectAllBiotypeFilter()">
                        Select all
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="deselectAllBiotypeFilter()">
                        Deselect all
                    </button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Closes:  accordion -->
</div>
