<div ng-controller="proteinCtrl">
    <div class="row">
        <div class="col-md-3">
            <div  class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Testsefsef {{specie.longName}}</h3>
                </div>
                <div class="panel-body">
                    <div ng-controller="proteinSelect">
                        <input ng-model="message" >
                        <button ng-click="handleClick(message);">BROADCAST</button>
                        Color:
                        <select ng-model="color" ng-options="c.name for c in colors" ng-change="selectedOption()"></select>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">.col-md-2
            <div ng-controller="proteinResult">
                <input ng-model="message" ng-change="change()">
            </div>
        </div>
        <div class="col-md-6">.col-md-8
            <div ng-controller="proteinView">
                <input ng-model="message" ng-change="change()">
            </div>
        </div>
    </div>
</div>