<div ng-controller="proteinCtrl">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div  class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Testsefsef {{specie.longName}}</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <input ng-model="message" >
                        <button ng-click="handleClick(message);">BROADCAST</button>
                        Color:
                        <select ng-model="color" ng-options="c.name for c in colors" ng-change="selectedOption()"></select>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3 col-md-2 col-lg-2">.col-md-2
            <div >
                <input ng-model="message" ng-change="proteinChange()">
            </div>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-8">.col-md-8
            <div>
                <input ng-model="message" ng-change="proteinChange()">
            </div>
        </div>
    </div>
</div>