<div>
<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong class="ocb-font-size-14">Filters</strong>
        </div>
        <div class="panel-body">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group ocb-margin-2">
                    <button type="button" class="btn btn-default btn-xs" ng-click="reload()" >
                        Reload
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="clear()">
                        Clear
                    </button>
                </div>
                <div class="btn-group">
                    <a type="button" class="btn btn-default btn-sm ocb-result-bottom ocb-bold ocb-margin-2" ng-click="newResult()" >
                        Results
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseRegionReg" class="ocb-cursor-pointer">
                Region
            </div>
        </div>
        <div id="collapseRegionReg" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="regulationsChromMultiSelect" class="ocb-text-center  ocb-scroll">
                    <witched-chrom ids="typeOfData" chrom-names="chromNames" on-click="addChrom" my-class="ocb-chrom-buttons"></witched-chrom>
                </div>

                <div class="btn-toolbar ocb-text-center ocb-margin-top-5" role="toolbar">
                    <button type="button" class="btn btn-default btn-xs ocb-info-button" ng-click="selectAllChrom()" >
                        Select all
                    </button>
                    <button type="button" class="btn btn-default btn-xs ocb-info-button" ng-click="deselectAllChrom()">
                        Deselect all
                    </button>
                </div>

                <p class="text-muted ocb-margin-top-5"><b>chom:start-end</b></p>
                <textarea type="text" ng-model="regions" rows="4" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseFeatureClass" class="ocb-cursor-pointer">
                Feature Class
            </div>
        </div>
        <div id="collapseFeatureClass" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <div id="featureClassMultiSelect" class="ocb-text-center">
                        <button id="{{featureClass}}"  ng-repeat="featureClass in featureClassTypes"
                                ng-click="addFeatureClassFilter(featureClass)" type="button"
                                class="btn btn-default btn-sm ocb-filter-width ocb-margin-1">{{featureClass}}
                        </button>
                    </div>
                </div>

                <div class="btn-toolbar ocb-text-center ocb-margin-top-5" role="toolbar">
                    <button type="button" class="btn btn-default btn-xs ocb-info-button" ng-click="selectAllFeatureClassFilter()">
                        Select all
                    </button>
                    <button type="button" class="btn btn-default btn-xs ocb-info-button" ng-click="deselectAllFeatureClassFilter()">
                        Deselect all
                    </button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Closes:  accordion -->

</div>