<div class="panel-group" id="accordionVariants">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong class="ocb-font-size-14">Filters</strong>
        </div>
        <div class="panel-body">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group ocb-margin-2">
                    <button type="button" class="btn btn-default btn-xs" ng-click="reload()">
                        Reload
                    </button>
                    <button id="variantsClearButton" type="button" class="btn btn-default btn-xs" ng-click="clear()">
                        Clear
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <a type="button" class="btn btn-default btn-sm ocb-result-bottom ocb-bold ocb-m-b-5"
                       ng-click="checkAndSetResult()">
                        Results
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div data-toggle="collapse" data-parent="#accordionVariants" href="#collapseRegionVariation"
                 class="ocb-cursor-pointer">
                Region
            </div>
        </div>
        <div id="collapseRegionVariation" class="panel-collapse collapse in">
            <div class="panel-body">
                <h5><strong>Chromosomes:</strong></h5>
                <p class="text-muted"><b> Select one or more</b></p>
                <div id="variantsChromMultiSelect" class="ocb-text-center  ocb-scroll">
                    <witched-chrom ids="typeOfData" chrom-names="chromNames" on-click="addChrom"
                                   my-class="ocb-chrom-buttons"></witched-chrom>
                </div>

                <div class="btn-toolbar ocb-text-center ocb-margin-top-5" role="toolbar">
                    <button id="variantsSelectAllChroms" type="button" class="btn btn-default btn-xs ocb-info-button"
                            ng-click="selectAllChrom()">
                        Select all
                    </button>
                    <button id="variantsDeselectAllChroms" type="button" class="btn btn-default btn-xs ocb-info-button"
                            ng-click="deselectAllChrom()">
                        Deselect all
                    </button>
                </div>

                <h5><strong>Regions:</strong></h5>
                <p class="text-muted ocb-margin-top-5"><b>Example: chromosome:start-end</b></p>
                <textarea type="text" ng-model="regions" rows="4" class="form-control ocb-h-100"></textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div data-toggle="collapse" data-parent="#accordionVariants" href="#collapseVariation"
                 class="ocb-cursor-pointer">
                SNP Id
            </div>
        </div>
        <div id="collapseVariation" class="panel-collapse collapse">
            <div class="panel-body">
                <p class="text-muted"><b>Example: id1,id2,...</b></p>
                <textarea type="text" ng-model="snpIdFilter" rows="4"
                          class="form-control  ocb-h-100"></textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div data-toggle="collapse" data-parent="#accordionVariants" href="#collapseConsType"
                 class="ocb-cursor-pointer">
                Consequence Type

            </div>
        </div>
        <div id="collapseConsType" class="panel-collapse collapse">
            <div class="panel-body">
                <p class="text-muted"><b> Select one or more:</b></p>
                <div>
                    <div id="conseqTypeMultiSelect" class="ocb-filter-scroll">
                        <button id="{{conseqTypes}}" ng-repeat="conseqTypes in listOfConseqTypes"
                                ng-click="addConseqTypeFilter(conseqTypes)" type="button"
                                class="btn btn-default btn-sm ocb-filter-width ocb-margin-1">{{conseqTypes}}
                        </button>
                    </div>
                </div>
                <div class="btn-toolbar ocb-text-center ocb-margin-top-5" role="toolbar">
                    <button id="variantsSelectAllconseqType" type="button" class="btn btn-default btn-xs ocb-info-button"
                            ng-click="selectAllConseqTypeFilter()">
                        Select all
                    </button>
                    <button id="variantsDeselectAllconseqType" type="button" class="btn btn-default btn-xs ocb-info-button"
                            ng-click="deselectAllConseqTypeFilter()">
                        Deselect all
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
