.ocb-list{
    margin-bottom:2px !important;
    font-size:11px;
}
.ocb-list-in{
    font-size:11px;
    background-color: #F2F2F2 !important;
    color: #000000 !important;
    border:1px solid #a6a6a6 !important;
    border:1px solid #DBDBDB !important;
}

.ocb-m-l-20{
    margin-left: 20px;
}
.ocb-chrom-buttons{
    min-width:35px;
    margin:1px !important;
}
.ocb-chrom-buttons{
    min-width:35px;
    margin:1px !important;
}

.ocb-text-center{
    text-align:center;
}

.ocb-bold{
    font-weight: bold;
}
.ocb-pagnation-text-color{
    color:#006ffb;
}

.ocb-pagnation-tree-position{
    margin-top: 5px;
    margin-left:4px;
    margin-rigth:4px;
}


.ocb-margin-l-r-five{
    margin-left:5px;
    margin-rigth:5px;
}

.ocb-margin-l-five{
    margin-left:5px;
}


.ocb-scroll{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 80px;
    margin:10px
}
.ocb-scroll-transVar{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 198px;
    margin:10px
}
.ocb-x-scroll{
    /*overflow-y:scroll;*/
    overflow-x:scroll;
    /*height: 540px;*/
    /*margin:10px;*/

    /*overflow-y:scroll;*/
    /*overflow-x:hidden;*/
    /*height: 540px;*/
    /*margin:10px*/
}

.ocb-scroll-tree{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 572px;
    margin:10px
}
.ocb-line-height-5{
    line-height: 0.5;
}

.ocb-font-size-14{
    font-size: 14px;
}

.ocb-margin-top-5{
    margin-top: 5px;
}
.ocb-margin-top-18{
    margin-top: 18px;
}
.ocb-margin-top-40{
    margin-top: 40px;
}
.ocb-border-blue{
    border:1px solid #428bca
}


.ocb-info-button{
    background-color: lightblue !important;
    border: 1px solid lightskyblue !important;
    color:darkblue !important;
}

.ocb-margin-1{
    margin:1px !important;
}

.ocb-result-bottom{
    background-color: #ffd27e !important;
    border: 1px solid orange !important;
}

.ocb-margin-2{
    margin:2px;
}

.ocb-cursor-pointer{
    cursor: pointer;
}

.ocb-filter-scroll{
    overflow: scroll;
    height: 222px;
}

.ocb-border-b{
    border-bottom:1px solid dimgrey;
}

.ocb-gv-w{
    width:820px;
}
.ocb-gv-minw{
    min-width:500px;
}

.ocb-nv-h-w{
    width:800px;
    /*width:765px;*/
    height:505px;
    position:relative;
}
.ocb-bgc-white{
    background-color: white;
}
.ocb-pad-b-10{
    padding-bottom: 10px;
}
.ocb-title{
    width:120;
    height:35;
    margin-left: 15px;
    margin-bottom: 20px;
}
.ocb-h-50{
    height: 50px;
}
.ocb-marg-5{
    margin: 5px;
}
.ocb-dislay-none{
    display: none;
}

/*loading widget*/
.veil {
    position: absolute;
    z-index:3;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: #848484 url(../load.gif) no-repeat center;
}
.feedLoading {
    z-index:3;
    position: absolute;
    top:200px;
    width:100%;
    text-align: center;
    font-size: 2em;
    color:white;
    text-shadow: 3px 3px 3px #020b17;
}



/*---------------------*/
.ocb-optBar-bg{
    /*background-color: #3d5892;*/
}


.ocb-font-size-20{
    font-size: 20px;
}

.ocb-m-b-5{
    margin-bottom:5px !important;
}
.ocb-h-100{
    height: 100px !important;
}

.ocb-pad-5{
    padding:5px !important;
}


.ocb-list-bg-click{
    background-color: #c0e3f0 !important;
}


.ocb-pad-b-14{
    padding-bottom: 14 !important;
}
.ocb-bc-blue{
    background-color:#428bca;
}

.ocb-m-r-30{
    margin-right:30px;
}

.ocb-text-width-80 {
    display: inline-block;
    width: 80px;
}

.ocb-text-width-200{
    display: inline-block;
    width: 200px;
}

.ocb-text-width-150 {
    display: inline-block;
    width: 150px;
}

.ocb-text-width-180 {
    display: inline-block;
    width: 180px;
}

.ocb-text-width-130 {
    display: inline-block;
    width: 130px;
}

.ocb-text-width-300 {
    display: inline-block;
    width: 300px;
}

.ocb-text-width-230 {
    display: inline-block;
    width: 230px;
}

.ocb-text-width-220 {
    display: inline-block;
    width: 220px;
}

.ocb-bg-blue{
	background-color: #9BB0D4 !important;
}

ocb-font-size-16{
	font-size:16px;
}
