/*-----rewritte bootstrap css----*/
.list-group-item {
    position: relative;
    display: block;
    padding: 5px 6px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.list-group {
    margin-bottom: 4px;
    padding-left: 0;
}

.ocb-list{
    margin-bottom:2px !important;
    font-size:11px;
}
.ocb-list-in{
    font-size:11px;
    background-color: #e2edff !important;
    background-color: #ebe2f8 !important;
    background-color: #f8f8f8 !important;
    background-color: #e0e0e0 !important;
    background-color: #F2F2F2 !important;
    color: #000000 !important;
    border:1px solid #a6a6a6 !important;
    border:1px solid #DBDBDB !important;
}

.ocb-m-l-20{
    margin-left: 20px;
}
.ocb-chrom-buttons{
    min-width:35px;
    margin:1px !important;
}
.ocb-chrom-buttons{
    min-width:35px;
    margin:1px !important;
}

.ocb-text-center{
    text-align:center;
}

.ocb-bold{
    font-weight: bold;
}
.ocb-pagnation-text-color{
    color:#006ffb;
}

.ocb-pagnation-tree-position{
    margin-top: 5px;
    margin-left:4px;
    margin-rigth:4px;
}


.ocb-margin-l-r-five{
    margin-left:5px;
    margin-rigth:5px;
}

.ocb-margin-l-five{
    margin-left:5px;
}


.ocb-scroll{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 120px;
    margin:10px
}
.ocb-scroll-transVar{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 198px;
    margin:10px
}
.ocb-x-scroll{
    /*overflow-y:scroll;*/
    overflow-x:scroll;
    /*height: 540px;*/
    /*margin:10px;*/

    /*overflow-y:scroll;*/
    /*overflow-x:hidden;*/
    /*height: 540px;*/
    /*margin:10px*/
}

.ocb-scroll-tree{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 540px;
    height: 555px;
    height: 540px;
    margin:10px
}
.ocb-line-height-5{
    line-height: 0.5;
}

.ocb-font-size-14{
    font-size: 14px;
}

.ocb-margin-top-5{
    margin-top: 5px;
}

.ocb-info-button{
    background-color: lightblue;
    border: 1px solid lightskyblue;
    color:darkblue;
}

.ocb-margin-1{
    margin:1px !important;
}

.ocb-result-bottom{
    background-color: #ffd27e;
    border: 1px solid orange;
}

.ocb-margin-2{
    margin:2px;
}

.ocb-cursor-pointer{
    cursor: pointer;
}

.ocb-filter-scroll{
    overflow: scroll;
    height: 222px;
}

.ocb-border-b{
    border-bottom:1px solid dimgrey;
}

.ocb-gv-w{
    width:820px;
}
.ocb-gv-minw{
    min-width:830px;
}

.ocb-nv-h-w{
    width:765px;
    height:515px;
}
.ocb-bgc-white{
    background-color: white;
}
.ocb-pad-b-10{
    padding-bottom: 10px;
}
.ocb-title{
    width:120;
    height:35;
    margin-left: 15px;
    margin-bottom: 20px;
}
.ocb-h-50{
    height: 50px;
}
.ocb-marg-5{
    margin: 5px;
}
.ocb-dislay-none{
    display: none;
}

/*loading widget*/
.veil {
    position: absolute;
    z-index:3;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: #848484 url(../load.gif) no-repeat center;
}
.feedLoading {
    z-index:3;
    position: absolute;
    top:200px;
    width:100%;
    text-align: center;
    font-size: 2em;
    color:white;
    text-shadow: 3px 3px 3px #020b17;
}