<!DOCTYPE html>
<html ng-app="cellbaseWeb">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cellbase web</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <link href="../vendor/bootstrap-3.0.2/css/bootstrap.css" rel="stylesheet">

    <!--========================genome-viewer==============================-->
    <link type="text/css" rel="stylesheet" href="../../lib/jsorolla/vendor/jquery.qtip.min.css"/>
    <link type="text/css" rel="stylesheet" href="../../lib/jsorolla/vendor/jquery.qtip.min.css"/>
    <link type="text/css" rel="stylesheet" href="../../lib/jsorolla/vendor/ChemDoodleWeb.css"/>

    <!-- CSS from Genome Viewer -->
    <link type="text/css" rel="stylesheet" href="../../lib/jsorolla/styles/css/style.css"/>

    <script type="text/javascript" src="../../lib/jsorolla/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/backbone-min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/rawdeflate.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/bootstrap-scoped-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/typeahead.min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/jquery.sha1.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/purl.min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/gl-matrix-min.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/ChemDoodleWeb.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/d3.min.js"></script>

    <!-- js-common-libs cellbase ws-manager -->
    <script type="text/javascript" src="../../lib/jsorolla/src/lib/cellbase/cellbase-manager.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/data-adapter/cellbase-adapter.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/data-adapter/sequence-adapter.js"></script>

    <!-- js-common-libs ensemble manager -->
    <script type="text/javascript" src="../../lib/jsorolla/src/lib/ensembl/ensembl-manager.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/data-adapter/ensembl-adapter.js"></script>

    <!-- GENOME VIEWER SCRIPS   -->
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/gv-config.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/lib/region.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/lib/feature-binary-search-tree.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/cache/feature-cache.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/cache/feature-chunk-cache.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/cache/memory-store.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/navigation-bar.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/karyotype-panel.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/chromosome-panel.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/tracks/tracklist-panel.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/status-bar.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/widget/legend-panel.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/widget/legend-widget.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/tracks/track.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/tracks/feature-track.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/tracks/sequence-track.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/tracks/gene-track.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/renderers/renderer.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/renderers/feature-renderer.js"></script>
    <script type="text/javascript"
            src="../../lib/jsorolla/src/genome-viewer/renderers/feature-cluster-renderer.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/renderers/sequence-renderer.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/renderers/histogram-renderer.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/renderers/gene-renderer.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/genome-viewer/genome-viewer.js"></script>

    <!--========================network-viewer==============================-->
    <script type="text/javascript" src="http://cdn.sencha.io/ext/gpl/4.2.1/ext-all.js"></script>

    <link type="text/css" rel="stylesheet" href="../../lib/jsorolla/vendor/jquery.simplecolorpicker.css"/>
    <script type="text/javascript" src="../../lib/jsorolla/vendor/jquery.simplecolorpicker.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/network-viewer/nv-config.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/lib/utils/svg.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/lib/utils/utils.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/network-viewer/tool-bar.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network-viewer/edition-bar.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/attributes/attribute-manager-idb.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/attributes/attribute-manager-store.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/network.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/network-config.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/graph.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/edge.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/edge-config.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/vertex.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/vertex-config.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/default-vertex-renderer.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/circos-vertex-renderer.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/default-edge-renderer.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network-viewer/network-svg-layout.js"></script>
    <script type="text/javascript" src="../../lib/jsorolla/src/network/graph-layout.js"></script>

    <script type="text/javascript" src="../../lib/jsorolla/src/network-viewer/network-viewer.js"></script>

    <!--========================cellbase-web==============================-->
    <link href="css/cellbase-web.css" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/services/cellbaseService.js"></script>

    <!--======================DIRECTIVES======================-->
    <script src="js/directives/chromosomesDirective.js"></script>
    <script src="js/directives/genesDirectives/genesListDirective.js"></script>
    <script src="js/directives/variantsDirectives/variantsListDirective.js"></script>
    <script src="js/directives/regulationsDirectives/regulationsListDirective.js"></script>
    <script src="js/directives/paginationDirective.js"></script>

    <script src="js/directives/genomeViewerDirective.js"></script>
    <script src="js/directives/networkViewerDirective.js"></script>

    <!----------------genes directives--------------->
    <script src="js/directives/genesDirectives/genesSelectPanelDirective.js"></script>
    <script src="js/directives/genesDirectives/genesResultPanelDirective.js"></script>
    <!---------genes widgets--------->
    <script src="js/directives/genesDirectives/geneAndTranscriptsDirective.js"></script>
    <script src="js/directives/genesDirectives/transcriptsDirective.js"></script>

    <!---------------variants directives------------->
    <script src="js/directives/variantsDirectives/variantsSelectPanelDirective.js"></script>
    <script src="js/directives/variantsDirectives/variantsResultPanelDirective.js"></script>
    <!---------variants widgets--------->
    <script src="js/directives/variantsDirectives/variantAndTranscriptsVarDirective.js"></script>
    <script src="js/directives/variantsDirectives/transcriptsVarDirective.js"></script>

    <!---------------regulations directives------------->
    <script src="js/directives/regulationsDirectives/regulationsSelectPanelDirective.js"></script>
    <script src="js/directives/regulationsDirectives/regulationsResultPanelDirective.js"></script>
    <!---------regulations widgets--------->
    <script src="js/directives/regulationsDirectives/regulationsDirective.js"></script>

    <!--======================CONTROLLERS======================-->
    <script src="js/controllers/optionsBarController.js"></script>
    <script src="js/controllers/genesController.js"></script>
    <script src="js/controllers/variantsController.js"></script>
    <script src="js/controllers/regulationsController.js"></script>

    <style type="text/css">
        .bootstrap {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        }
        body {
            font-size: 13px;
            background-color: #cdd1d9;
        }
    </style>
</head>
<body>
<div id="cellbase-web" class="bootstrap">
    <div class="page-header ocb-h-50">
        <h1>
            <img src="title.png" alt="title" class="ocb-title">
            Web Application
            <small> A data mining tool for biologists</small>
        </h1>
    </div>
    <div ng-controller="optionsBarController">
        <nav class="navbar navbar-inverse ocb-margin-b-10" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" ng-click="new()">Home</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle ocb-cursor-pointer" data-toggle="dropdown">
                                {{selectedSpecie}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ng-repeat="specie in species" ng-click="setSelectedSpecie(specie)">{{specie.longName}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" id="myTab">
                        <li class="active"><a href="#genes">Gene</a></li>
                        <li id="variationDiv"><a href="#variation">Variation</a></li>
                        <li id="regulationDiv"><a href="#regulation">Regulation</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="genes" ng-controller="genesController">

            <div class="veil" ng-show="isLoading"></div>
            <div class="feedLoading" ng-show="isLoading">Loading genes...</div>

            <div id="genesSelectDiv" class="col-sm-3 col-md-2 col-lg-2">
                <div genes-select></div>
            </div>
            <div id="genesResultDiv" class="col-sm-9 col-md-10 col-lg-10">
                <div genes-result></div>
            </div>
        </div>
        <div class="tab-pane" id="variation" ng-controller="variantsController">

            <div class="veil" ng-show="isLoading"></div>
            <div class="feedLoading" ng-show="isLoading">Loading variants...</div>

            <div id="variatoinsSelectDiv" class="col-sm-3 col-md-2 col-lg-2">
                <div variants-select></div>
            </div>
            <div id="variationsResultDiv" class="col-sm-9 col-md-10 col-lg-10">
                <div variants-result></div>
            </div>
        </div>
        <div class="tab-pane" id="regulation" ng-controller="regulationsController">

            <div class="veil" ng-show="isLoading"></div>
            <div class="feedLoading" ng-show="isLoading">Loading regulations...</div>

            <div id="regulationsSelectDiv" class="col-sm-3 col-md-2 col-lg-2">
                <div regulations-select></div>
            </div>
            <div id="regulationsResultDiv" class="col-sm-9 col-md-10 col-lg-10">
                <div regulations-result></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#myTab a:first').tab('show')
    })
    $('#myTab a').click(function (e) {
        e.preventDefault()
        if (!$(this).parent().hasClass("disabled")) {
            $(this).tab('show')
        }
    })
</script>
</body>
</html>
